<span class="http-header-list__title">{{title}}</span>
<ul class="http-header-list__items">
  {{#each headers as |header|}}
    <li class="http-header-list__item http-header">
      <span class="http-header__name">{{header.name}} → </span>
      <span class="http-header__value">{{header.value}}</span>
    </li>
  {{/each}}
</ul>
