{{#modal-dialog onClose=onClose}}
  <header class="modal-header">
    <p class="modal-header__title">Settings</p>
  </header>

  <div class="modal-body">
    <KeyValueEditor
      @keyHeader="Variable"
      @valueHeader="Value"
      @data={{this.settings.variables}}/>
  </div>

  <footer class="modal-footer">
    <div class="modal-footer__actions">
      <button class="btn btn--primary modal-footer__action" {{action "saveChanges"}}>Save</button>
      <button class="btn btn--secondary modal-footer__action" {{action "cancelChanges"}}>Cancel</button>
    </div>
  </footer>
{{/modal-dialog}}
