.command-editor {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  section {

    h3 {
      font-size: 0.85rem;
      color: #999999;
      font-weight: 400;
    }
  }

  .code-wrapper {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
  }
}
