.form {

  &-header {
    padding: 10px;
  }

  &-body {
    border-top: 1px solid #DDDDDD;
    padding: 10px;
  }

  &-foooter {
    padding: 0 10px 10px;
    text-align: right;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
  }

  &-field {
    margin-bottom: 20px;

    &__label {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }

    &__input {
      display: block;
      width: 100%;
    }
  }

  &-action {
    background-color: #ECECEC;
    color: #808080;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    font-size: 1rem;
    margin-left: 5px;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: #D8D8D8;
    }

    &--primary {
      background-color: #007BFF;
      border-color: #007BFF;
      color: #FFFFFF;

      &:hover {
        background-color: #0069d9;
        border-color: #0062cc;
      }
    }
  }

}
