.http-header-list {
  font-size: 0.85rem;
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;

  &__title {
    font-weight: 600;
    color: #555555;

  }

  &__items {
    padding-left: 20px;

  }

  &__item {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
  }

  .http-header {
    color: #777777;

    &__name {
      font-weight: 500;
    }

    &__value {
      margin-left: 10px;
    }
  }
}
