.key-value-editor {

  &__headers {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid #DDDDDD;
  }

  &__header {
    color: #999999;

    &--key {
      width: 200px;
    }

    &--value {
      width: 400px;
    }

    &--insert {

    }
  }

  &__rows {
    padding: 10px 0;
  }

  &__row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DDDDDD;
  }

  &__cell {
    border: none;

    &--key {
      width: 200px;
    }

    &--value {
      width: 400px;
    }

    &--delete {

    }
  }

}
