.panel {
  flex: 50%;
  overflow: hidden;

  &__title {
    text-transform: uppercase;
    background-color: #F7F7F7;
    color: #999999;
    padding: 10px;
    margin: 0;
    font-size: 0.70rem;
    border-bottom: 1px solid #DDDDDD;
  }

  &__body {
    height: 100%;
    display: block;
    overflow-y: auto;
    box-sizing: border-box;
  }
}
