.panel {

  &__title {
    text-transform: uppercase;
    background-color: #F7F7F7;
    color: #999999;
    padding: 10px;
    margin: 0;
    font-size: 0.70rem;
    border-bottom: 1px solid #DDDDDD;
  }
}
