.request-panel {
  height: 100%;
  border-right: 1px solid #DDDDDD;

  &__name {
    text-transform: none;
    margin-left: 20px;
    color: #222222;
    font-weight: 500;
  }

  .request-panel__endpoint {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #DDDDDD;

    .resource-panel__method {
      display: inline-block;
      border: 1px solid #DDDDDD;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: none;
      text-align: center;
    }

    .resource-panel__url {
      display: inline-block;
      width: 100%;
    }

    .resource-panel__send-button {
      display: inline-block;
      border-radius: 0 3px 3px 0;
      width: 90px;
    }
  }

  .request-panel__headers {
    padding: 10px;
  }

  .request-panel__body {
    padding: 10px;
  }

}

