@import './request-panel';
@import './result-panel';

.resource-explorer {
  height: 100%;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #DDDDDD;
  overflow-y: auto;

  .section-filter {
    border-bottom: 1px solid #DDDDDD;
    padding: 20px;

    .resource-filter {
      display: flex;

      &__icon {
        border:1px solid #DDDDDD;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 4px 5px 3px;
        color: #999999;
      }

      &__input {
        border-radius: 3px;
        border:1px solid #DDDDDD;
        padding: 5px 10px;
        width: 100%;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .resource-list {
    overflow-y: visible;
    padding: 10px;
    margin: 0;
    list-style-type: none;

    .resource-item {
      margin: 0;
      font-size: 0.85rem;
      line-height: 1rem;
      color: #666666;

      &:hover {
        background-color: #EEEEEE;
        cursor: pointer;
      }

      .resource-item__link {
        text-decoration: none;
        color: inherit;
        display: block;
        padding: 5px;
      }

      .resource-item__method {
        text-transform: uppercase;
        color: #DDDDDD;
        font-weight: 600;
        width: 50px;
        text-align: center;
        display: inline-block;
        font-size: 0.75rem;

        &--delete {
          color: #DB4437;
        }

        &--get {
          color: #0F9D58;
        }

        &--post {
          color: #F4B400;
        }

        &--put {
          color: #4285F4;
        }
      }

      .resource-item__name {

      }
    }
  }
}
