.result-panel {
  height: 100%;

  .result-panel__duration {
    text-transform: none;
    margin-left: 20px;
    color: #222222;
    font-weight: 500;
  }

  .result-panel__general {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #DDDDDD;
  }

  &__request {
    display: inline-block;
    border: 1px solid #14A2B8;
    color: #14A2B8;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.85rem;
    flex-grow: 1;

    &-method {
      font-weight: 600;
    }

    &-url {
    }
  }

  &__status {
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.85rem;
    margin-left: 10px;

    &--information {
      color: #14A2B8;
      border-color: #14A2B8;
    }

    &--success {
      color: #29A645;
      border-color: #29A645;
    }

    &--redirection {
      color: #6D757D;
      border-color: #6D757D;
    }

    &--client-error {
      color: #DC3545;
      border-color: #DC3545;
    }

    &--server-error {
      color: #DC3545;
      border-color: #DC3545;
    }

    &-code {
      font-weight: 600;
    }

    &-text {
    }
  }

  .result-panel__headers {
  }

  .result-panel__body {
    padding: 10px;
  }
}
