.ember-power-select-trigger {
  width: 100px;
  border: 1px solid #DDDDDD;
}

/* Fonts s*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

/* Vendors */
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

@import "./ember-modal-dialog-custom";
@import "./ember-power-select-custom";

@import "./command-editor";
@import "./connection";
@import "./form";
@import "./http-header-list";
@import "./panel";
@import "./query-panel";
@import "./resource-explorer";
@import "./response-panel";
@import "./result-panel";
@import "./settings-modal";

html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color: #222222;
  font-size: 14px;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;

  & > .ember-view {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    tr {
      th {

      }
    }
  }
  tbody {
    tr {
      th {
        font-weight: 400;

      }
    }
    tr {
      td {
        input{
          width: 100%;
        }
      }
    }
  }
}

input {
  font-size: 1rem;
  line-height: 1.2rem;
}

.btn {
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  padding: 5px 20px;

  &--primary {
    background-color: #007BFF;
    border-color: #007BFF;
    color: #FFFFFF;

    &:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  }

  &--secondary {
    background-color: #FFFFFF;
  }
}

input {
  padding: 5px;
  border: 1px solid #DDDDDD;
  margin: 0;
  color: #555555;
  box-sizing: border-box;
}

.app-header {
  border-bottom: 1px solid #DDDDDD;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-brand {
  }

  .app-actions {
  }

  .app-action {
    background-color: #ECECEC;
    color: #808080!important;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.80rem;
    margin-left: 5px;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: #D8D8D8;
    }
  }
}

.app-body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.app-main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.app-footer {
  background-color: #F7F7F7;
  color: #666666;
  border-top: 1px solid #DDDDDD;
  padding: 5px 10px;
  line-height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-github {
    font-size: 1rem;
  }
}

