.ember-modal-dialog {
  border-radius: 3px;
  padding: 0;
  min-width: 600px;

  .modal-header {
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F7F7F7;

    .modal-header__title {
      text-transform: uppercase;
      margin: 0;
    }
  }

  .modal-body {
    padding: 10px;
  }

  .modal-footer {
    padding: 15px 10px;
    border-top: 1px solid #DDDDDD;
    text-align: right;

    &__actions {
      display: flex;
      flex-direction: row-reverse;
    }

    &__action {
      margin-left: 10px;
    }
  }
}
