.response-panel {
  height: 100%;

  &__navbar {
    border-bottom: 1px solid #DDDDDD;
    background-color: #FAFAFA;

    &-items {
      display: flex;
      margin: 0;
      padding: 0;
    }

    &-item {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: #999999;
      border-bottom: 3px solid transparent;

      a {
        padding: 10px 10px 7px;
        display: inline-block;
        text-decoration: none;
        color: inherit;

        &:active,
        &:focus,
        &:hover {
          color: #222222;
        }
      }

      &.active {
        color: #222222;
        border-bottom: 3px solid #1DB954;
      }
    }
  }

  &__headers {

  }

  &__body-preview {
    padding: 10px;
    overflow: auto;
    height: 100%;
  }

  &__body-raw {
    padding: 10px;
    overflow: auto;
    height: 100%;
  }
}
