<form {{action "connect" on="submit"}} class="form connection-form">

  <header class="form-header">
    <h1 class="form-title">Connection</h1>
  </header>

  <div class="form-body">
    {{#if error}}
      <div class="form-messages">
        <p class="form-message form-message--error">{{error}}</p>
      </div>
    {{/if}}

    <div class="form-field">
      <label class="form-field__label" for="airtableApiKey">Airtable API key</label>
      {{input class="form-field__input" name="airtableApiKey" value=airtableApiKey autofocus=true placeholder="ex: keyA1b2c3d4E5f6g7"}}
    </div>

    <div class="form-field">
      <label class="form-field__label" for="airtableBaseId">Airtable Base id</label>
      {{input class="form-field__input" name="airtableBaseId" value=airtableBaseId placeholder="ex: appA1b2c3d4E5f6g7"}}
    </div>
  </div>

  <footer class="form-foooter">
    <button class="form-action form-action--primary" type="submit">Connect</button>
  </footer>

</form>
